html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: bold !important;
  font-size: 2.6rem !important;
}

h2 {
  font-size: 2rem !important;
  font-weight: semi-bold !important;
  margin-bottom: 40px;
}

h3 {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  margin-bottom: 40px;
}

.section1 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  margin-bottom: 20px;
}
.section1 h1 {
  margin-bottom: 20px;
}

.section1 video {
  width: 350px;
  height: auto;
}

.text-hero {
  width: 50%;
  z-index: 1;
}

.section2 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 60px;
}

.swiperContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 {
  background: #f5f5f5;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px;
  text-align: center;
  margin-bottom: 40px;
}

.background326 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background326 video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.section3 video {
  width: 100%;
  height: auto;
}

.section4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px;
}

.boton {
  width: max-content;
  border-radius: 30px;
  padding: 5px 20px;
  color: #000;
  border: 1px solid #000;
  font-weight: 600;
  display: inline-flex;
}
.boton:hover {
  background-color: #000;
  color: #fff !important;
  text-decoration: none;
  cursor: pointer;
}

.section4 .parent {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(2, 160px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
  overflow: hidden;
  border-radius: 10px;
}

.div1 img {
  object-position: right;
  object-fit: cover;
  height: 100%;
}

.div2 {
  grid-area: 1 / 3 / 2 / 5;
  overflow: hidden;
  border-radius: 10px;
}

.div2 img {
  object-fit: cover;
  width: 100%;
}

.div3 {
  grid-area: 2 / 3 / 3 / 5;
  overflow: hidden;
  border-radius: 10px;
}

.div3 img {
  object-fit: cover;
  width: 100%;
}

.section5 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px;
}

.section5 h2,
img {
  z-index: 10;
}

.section6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px;
}

.section7 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  padding: 40px 60px;
}
.inputs2 {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.rainbow-divider {
  width: 100vw;
  /* Establece el ancho al 100% del ancho de la ventana */
  height: 10px;
  /* Altura de la línea divisora */
  background-image: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  /* Gradiente de arcoíris */
}

.section8 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}

.section8 .textos {
  /* flex flex-col h-full justify-between gap-5 w-full */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}

.section8 img {
  width: 350px;
  height: auto;
}

@media (max-width: 970px) {
  .text-hero {
    text-align: center;
    width: 100%;
    z-index: 1;
  }
  h1 {
    font-weight: bold !important;
    font-size: 1.8rem !important;
  }
  h2 {
    font-weight: semi-bold !important;
    font-weight: 400 !important;
    font-size: 1.5rem !important;
  }

  h3 {
    font-size: 1.2rem !important;
  }

  .section1 {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin-top: 110px;
    flex-direction: column;
  }
  .section2 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
  }
  .animationHero {
    position: relative;
  }
  .section2 h2 {
    padding-bottom: 0;
  }
  .section3 {
    height: auto;
  }
  .section4 {
    padding: 40px 120px;
  }
  .section4 .parent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, 200px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .section4 .parent .div1 {
    grid-area: 1 / 1 / 1 / 5;
    overflow: hidden;
    border-radius: 10px;
  }
  .section4 .parent .div1 img {
    object-position: top;
    object-fit: cover;
    width: 100%;
  }
  .section4 .parent .div2 {
    grid-area: 2 / 1 / 2 / 5;
    overflow: hidden;
    border-radius: 10px;
  }
  .section4 .parent .div2 img {
    object-fit: cover;
    width: 100%;
  }
  .section4 .parent .div3 {
    grid-area: 3 / 1 / 3 / 5;
    overflow: hidden;
    border-radius: 10px;
  }
  .section4 .parent .div3 img {
    object-fit: cover;
    width: 100%;
  }
  .section7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 20px 120px;
  }
  .inputs2 {
    flex-wrap: wrap;
    gap: 0;
  }
}

@media (max-width: 500px) {
  h1 {
    font-weight: bold !important;
    font-size: 1.5rem !important;
  }
  h2 {
    font-weight: semi-bold !important;
    font-weight: 400 !important;
    font-size: 1.2rem !important;
  }
  h3 {
    font-size: 1rem !important;
  }
  .section1 {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin-top: 110px;
    flex-direction: column;
  }
  .section2 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
  }
  .marvel-container .purchase .year {
    display: none;
  }
  .marvel-container .purchase {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  .marvel-container .purchase a,
  button {
    display: block;
    width: 100%;
  }
  .section3 {
    padding: 20px 20px;
  }
  .section4 {
    padding: 20px 20px;
  }
  .section4 .parent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 200px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .section4 .parent .div1 {
    grid-area: 1 / 1 / 1 / 3;
    overflow: hidden;
    border-radius: 10px;
  }
  .section4 .parent .div1 img {
    object-position: top;
    object-fit: cover;
    width: 100%;
  }
  .section4 .parent .div2 {
    grid-area: 2 / 1 / 2 / 3;
    overflow: hidden;
    border-radius: 10px;
  }
  .section4 .parent .div2 img {
    object-fit: cover;
    width: 100%;
  }
  .section4 .parent .div3 {
    grid-area: 3 / 1 / 3 / 3;
    overflow: hidden;
    border-radius: 10px;
  }
  .section4 .parent .div3 img {
    object-fit: cover;
    width: 100%;
  }
  .section5 {
    padding: 20px 20px;
  }
  .section6 {
    padding: 20px 20px;
  }
  .slider-container {
    margin-bottom: 0;
    width: 100%;
  }
  .section7 {
    padding: 20px 20px;
  }
  .section8 {
    padding: 20px 20px;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
  .section8 img {
    width: 80%;
    height: auto;
  }
  .section8 .textos {
    /* flex flex-col h-full justify-between gap-5 w-full */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
  }
  .section8 h5 {
    font-size: 1rem;
  }
}
