---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Empresas from "../components/Empresas.astro";
import Video360 from "../components/Video360/Video360.astro";
import Swiper from "../components/Swiper/Swiper.astro";
import Calendly from "../components/Calendly/Calendly";
import "./index.css";
const year = new Date().getFullYear();
---

<Layout>
  <main>
    <Navbar />
    <section id="Inicio" class="section1">
      <div class="text-hero">
        <h1>
          Somos más que un distribuidor platino de Adobe, somos una solución
          integral de servicios.
        </h1>
      </div>
      <div class="spaceAnimation"></div>
      <div class="animationHero">
        <video preload="auto" autoplay loop muted playsinline>
          <source src="/videos/banner3.webm" type="video/webm" />
          <source src="/videos/banner3.mp4" type="video/mp4" />
        </video>
      </div>
    </section>
    <section class="section2">
      <h2>Productos destacados</h2>
      <div class="swiperContainer">
        <Swiper />
      </div>
    </section>
    <!-- <section class="section3" id="Adobe360">
      <h2>X360 Adobe</h2>
      <h3>
        X360 Adobe es nuestro programa integral de servicios para clientes en
        LATAM. Vive la experiencia 360 comprando o renovando tus licencias
        Adobe.
      </h3>
      <Video360 />
    </section>
    <section class="section4" id="Cursos">
      <h2>Cursos exclusivos para clientes</h2>
      <div class="parent">
        <div class="div1">
          <img src="/tools/illustrator.jpg" alt="illustrator" />
        </div>
        <div class="div2">
          <img src="/tools/photoshop.jpg" alt="photoshop" />
        </div>
        <div class="div3">
          <img src="/tools/premiere.jpg" alt="premiere" />
        </div>
      </div>
      <a href="https://cursosadobe.com" target="_blank" class="boton mt-[40px]">
        Ver más cursos
      </a>
    </section>
    <section class="section5" id="Eventos">
      <h2>Eventos próximos</h2>
      <img
        src="/banners/Banner adobe.png"
        class="rounded"
        alt="eventosPróximos"
      />
    </section>
    <section class="section6">
      <h2>Nuestros clientes</h2>
      <Empresas />
    </section>
    <section class="section7" id="DEMO">
      <Calendly client:only />
    </section>
    <div class="rainbow-divider"></div>
    <section class="section8">
      <div class="flex flex-col h-full justify-between gap-5 w-full">
        <img src="/Logotipo.png" alt="" />
        <div>
          <h5>Bogotá D.C, Co co</h5>
          <h5>Carrera 21 N° 87 - 96 (POLO CLUB)</h5>
          <h5>(1) 742-8084</h5>
          <h5>(310) 774-3800</h5>
        </div>
      </div>
      <div class="w-full flex justify-center items-center">
        <div>
          Subscribete al Newsletter
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="w-4 h-4 opacity-70"
              ><path
                d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z"
              ></path><path
                d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z"
              ></path></svg
            >
            <input type="text" class="grow" placeholder="Email" />
          </label>
        </div>
      </div>
    </section>
    <footer class="flex justify-center pb-3 w-full">
      &copy; {year}
      <span class="mx-1 font-semibold">Licencias Adobe</span>
      {" "}Todos los derechos reservados.
    </footer> -->
  </main>
</Layout>
