@font-face {
  font-family: "Adobe Clean";
  src: url("/fonts/AdobeCleanBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Adobe Clean";
  src: url("/fonts/AdobeCleanRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Adobe Clean";
  src: url("/fonts/AdobeCleanLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Adobe Clean";
  src: url("/fonts/AdobeCleanSemiLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: "Adobe Clean", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  color: #000 !important;
}
