<div class="navbar">
  <img src="public/logo.png" alt="" />
  <div>
    <ul class="flex justify-between gap-5">
      <li>
        <a
          class="btn btn-ghost hover:btn-error hover:text-white px-[30px] rounded font-normal"
          href="#About">About</a
        >
      </li>
      <li>
        <a
          class="btn btn-ghost hover:btn-error hover:text-white px-[30px] rounded font-normal"
          href="#Adobe360">Adobe x 360</a
        >
      </li>
      <li>
        <a
          class="btn btn-ghost hover:btn-error hover:text-white px-[30px] rounded font-normal"
          href="#Cursos">Cursos</a
        >
      </li>
      <li>
        <a
          class="btn btn-ghost hover:btn-error hover:text-white px-[30px] rounded font-normal"
          href="#Eventos">Eventos</a
        >
      </li>
      <li>
        <a
          class="btn btn-ghost hover:btn-error hover:text-white px-[30px] rounded font-normal"
          href="#DEMO">DEMO</a
        >
      </li>
    </ul>
  </div>
</div>
<style>
  .navbar {
    background-color: #f8f9fa;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    padding: 20px 110px;
    z-index: 1000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  .navbar img {
    width: 350px;
    height: auto;
  }
</style>
