---
interface Props {
  title?: string;
  theme?: string;
}

const { title = "Licencias Adobe | Distribuidor Platino", theme = "light" } =
  Astro.props;
---

<!doctype html>
<html lang="es" data-theme={theme}>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Somos distribuidor platino #1 para Colombia. Compra tus licencias Adobe al mejor precio y con el mejor valor agregado."
    />

    <meta
      name="keywords"
      content="licencias adobe, licenciamiento adobe, distribuidor adobe colombia, licencias adobe colombia, adobe, distribuidor platino, adobe licensias"
    />

    <meta property="og:type" content="website" />

    <!-- robots.txt-->
    <meta name="robots" content="index, follow" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Licencias Adobe | Distribuidor Platino" />
    <meta
      name="description"
      content="Somos distribuidor platino #1 para Colombia. Compra tus licencias Adobe al mejor precio y con el mejor valor agregado."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://licenciasadobe.com/" />
    <meta
      property="og:title"
      content="Licencias Adobe | Distribuidor Platino"
    />
    <meta
      property="og:description"
      content="Somos distribuidor platino #1 para Colombia. Compra tus licencias Adobe al mejor precio y con el mejor valor agregado."
    />
    <meta property="og:image" content="Logo.svg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://licenciasadobe.com/" />
    <meta
      property="twitter:title"
      content="Licencias Adobe | Distribuidor Platino"
    />
    <meta
      property="twitter:description"
      content="Somos distribuidor platino #1 para Colombia. Compra tus licencias Adobe al mejor precio y con el mejor valor agregado."
    />
    <meta property="twitter:image" content="Logo.svg" />

    <!-- etiqueta canonica -->
    <link rel="canonical" href="https://licenciasadobe.com/" />
    <!-- etiqueta hreflang -->
    <link rel="alternate" href="https://licenciasadobe.com/" hreflang="es-co" />
    <!-- etiqueta hreflang -->
  </head>
  <body>
    <slot />
  </body>
</html>
